.header {
    position: absolute;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__links a {
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.header__links a:hover {
    border: 2px #fff;
    border-style: none none solid none;
}